@import './element-ui.scss';
@import './siderbar.scss';
@import './common.scss';

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #aeaeae;
    background-color: $bodyBgColor;
}

.box-card {
    margin-bottom: 20px;
    
    /* 卡片标题 */
    .card-title {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: bold;
    }
    .card-subtitle {
        font-size: 12px;
        color: #ccc;
    }
}