@import './element-ui.scss';
@import './siderbar.scss';
@import './common.scss';

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #aeaeae;
    background-color: $bodyBgColor;
}

#layout {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    > * {
        box-sizing: border-box;
        @include transition-collapse;
    }
}
#layout.mask::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(29, 41, 57, 0.25);
}
#layout .show-right-side {
    transform: translatex(-$rightSideWidth);
}
