@import './siderbar.scss';
@import './common.scss';

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    transform: translate3d(0, 0, 0);
}

#layout {
    height: 100%;
    width: 100%;
    > * {
        box-sizing: border-box;
        @include transition-collapse;
    }
}
#layout.mask::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(29, 41, 57, 0.25);
}
#layout .show-right-side {
    transform: translatex(-$rightSideWidth);
}