@mixin clearfix {
    &::before,
    &::after {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
}

@mixin line($line: 1) {
    @if $line == 1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        -webkit-line-clamp: $line;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
    }
}