.lo-sidebar {
    position: fixed;
    top: $headerHeight;
    left: 0;
    bottom: 0;
    .side-wrap {
        height: 100%;
        .el-menu-vertical:not(.el-menu--collapse) {
            width: $sidebarWidth;
        }
    }
    .el-menu-vertical,
    .el-scrollbar,
    .el-scrollbar .el-scrollbar__view {
        height: 100%;
    }
    .el-menu--collapse {
        .submenu-title {
            display: none;
        }
        .submenu-title ~ i {
            display: none;
        }
    } 
    .el-scrollbar__wrap {
        overflow-x: hidden;
    }
    .el-menu-item.is-active {
        background: #576574!important
    }

    .icon-svg {
        font-size: 18px;
        margin: 0 4px;
        vertical-align: middle;
    }
}